{% extends "payments/master.html" %}
{% load widget_tweaks %}
{% block body %}
    <div class="well well-lg">
<form action="/addPerson/" method="post"  class="form-horizontal">
    {% csrf_token %}



<div class="form-group">
    <label for="name" class="col-lg-2 control-label">Namn:</label>
    <div class="col-lg-10">
        {{ form.name|add_class:"form-control" }}
    </div>
    <label for="phone" class="col-lg-2 control-label">Telefon:</label>
    <div class="col-lg-10">
        {{ form.phone|add_class:"form-control" }}
    </div>
    <label for="swish" class="col-lg-2 control-label">Swish:</label>
    <div class="col-lg-10" style="margin-top: 6px">

        <div class="togglebutton">
            <label>
                {{ form.swish }}
            </label>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Spara<div class="ripple-wrapper"></div></button>
    </div>


</div>

</form>
        </div>
    <script>
        var element = document.getElementById("paddperson");
        element.classList.add("active");
    </script>
{% endblock %}